@import './../../styles/variables.scss';

.table-style {
    .MuiPaper-root {
        box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
        padding: 0 1.5rem;
        .MuiToolbar-root {
            color: $color-primary;
            padding: 1rem 0;
            .MuiInput-underline:hover:not(.Mui-disabled):before {
                border-bottom: 2px solid $color-primary;
            }
        }
    }

    table {
        //color: #6c757d !important;
        thead {
            tr {
                th {
                    color: $color-text-field !important;
                    border-bottom: 1px solid $color-background;
                    font-weight: 600;
                }

                th:last-child {
                    .MuiSvgIcon-root {
                        display: none !important;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    color: $color-text-field !important;
                    border-bottom: 1px solid $color-background;
                    width: 17% !important;
                    padding: 0.5rem 1rem;
                }

                td:last-child {
                    min-width: 100px !important;
                    text-align: center !important;
                    > div {
                        justify-content: center;
                    }
                }
            }

            tr:hover {
                background-color: $color-background !important;
            }
        }

        tfoot {
            td {
                border-bottom: none;
            }
        }
    }
    .access-btn {
        box-shadow: none;
        border-radius: 20px;
        text-transform: capitalize;
        background-color: transparent !important;
        color: #a0a3a9;
        border: 1px solid #a0a3a9;
        padding: 0;
        pointer-events: none;
    }

    .allow-btn {
        background-color: $color-primary !important;
        border: 1px solid $color-primary;
        color: white;
    }
    
}