
.component-sign-in{
    height: 100%;
    background-image: url(../../../assets/imgs/Login_Background.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;

    .MuiGrid-container {
        margin-top: 15%;
    }
    .MuiPaper-root {
        padding: 1rem 0;
    }
    .login-text {
        padding: 0.5rem 0 0.5rem 5%;
        float: left;
        border-left: 4px solid #FF414D;
        color: #FF414D;
    }
    .MuiAvatar-root {
        margin: 0.5rem auto;
        background-color: rgb(220, 0, 78);
    }
    .MuiContainer-root {
        >div {
            background-color: #fcfcfc;
            padding: 1rem 8% 2rem;
            -webkit-box-shadow: 0px 0px 7px -1px rgba(140, 137, 138, 1);
            -moz-box-shadow: 0px 0px 7px -1px rgba(140, 137, 138, 1);
            box-shadow: 0px 0px 7px -1px rgba(140, 137, 138, 1);
            border-radius: 0.2rem;
            margin-top: 15%;
        }
    }
    .MuiButton-contained {
        margin-top: 1rem;
        background-color: rgb(220, 0, 78);
        padding: 0.8rem 1.6rem;
    }
}